<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<main>
    <nav class="p-3 navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item col-6 col-lg-auto"><a class="nav-link px-2 text-white" href="{% url "index" %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item col-6 col-lg-auto"><a class="nav-link px-2 text-white" href=#>Projects</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a class="nav-link px-2 text-white" href="{% url "accounts:logout" %}">Logout</a></li>
                    {% else %}
                        <li><a class="nav-link px-2 text-white" href="{% url "accounts:signup" %}">Register</a></li>
                        <li><a class="nav-link px-2 text-white" href="{% url "accounts:login" %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</main>
    {% block body_block %}
    {% endblock %}
</body>
</html>